
homework_20_fall/.DS_Store
homework_21_winter(current)/Homework1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
homework_21_winter(current)/Homework1/Untitled.ipynb
homework_21_winter(current)/Homework2/.ipynb_checkpoints/homework_2-checkpoint.ipynb
homework_21_winter(current)/Homework3/.DS_Store
homework_21_winter(current)/.DS_Store
homework_20_fall/Homework3/.DS_Store
.ipynb_checkpoints
-checkpoint.ipynb

sections/sec_00/.ipynb_checkpoints/section_0-checkpoint.ipynb
sections/sec_01/.ipynb_checkpoints/section_1-checkpoint.ipynb
sections/sec_02/.ipynb_checkpoints/section_2-checkpoint.ipynb
sections/sec_03/.ipynb_checkpoints/section_3-checkpoint.ipynb
sections/sec_04/.ipynb_checkpoints/section_4-checkpoint.ipynb
sections/sec_05/.ipynb_checkpoints/section_5-checkpoint.ipynb
sections/sec_06/.ipynb_checkpoints/section_6-checkpoint.ipynb
sections/sec_07/.ipynb_checkpoints/section_7-checkpoint.ipynb
sections/sec_08/.ipynb_checkpoints/section_8-checkpoint.ipynb
sections/sec_09/.ipynb_checkpoints/section_9-checkpoint.ipynb
sections/sec_10/.ipynb_checkpoints/section_10-checkpoint.ipynb
sections/sec_11/.ipynb_checkpoints/section_11-checkpoint.ipynb
sections/sec_12/.ipynb_checkpoints/section_12-checkpoint.ipynb
sections/sec_13/.ipynb_checkpoints/section_13-checkpoint.ipynb
sections/sec_14/.ipynb_checkpoints/section_14-checkpoint.ipynb
sections/sec_15/.ipynb_checkpoints/section_15-checkpoint.ipynb
sections/sec_16/.ipynb_checkpoints/section_16-checkpoint.ipynb

